@inherits ComponentBase
@if (Contents is not null && Contents.Count > 0)
{   
    <div class="demo-text w-100 mt-0 text-muted">
        @foreach (var content in Contents)
        {
            var idx = Contents.IndexOf(content);
       
                <span style='color: @CssTextColor[idx]'>&bull;&nbsp; @content</span>
        }
     </div>
    
}

@code {
    [Parameter]
    public List<string>? Contents { get; set; }
    [Parameter]
    public List<string>? CssTextColor { get; set; }

    protected override bool ShouldRender()
    {
        return true;
    }

    protected override Task OnParametersSetAsync()
    {
        return InvokeAsync(StateHasChanged);
    }
}
