<html>
    <body>
        <div Id=@Id class="d-flex flex-column align-items-center align-content-center">
            <iframe class="col-12 d-flex" src=@Src></iframe>
            <h5 class="d-flex">@Content</h5>
        </div>
    </body>
</html>

