@page "/"

@*<body style="background-image: url(../images/backgrounds/0_HOME.jpg); background-repeat: no-repeat; background-size: auto; height: 1200px;">*@
<div style="height: 250px; background-color: transparent; text-align: center;">
    <span class="f-300"></span>
    @*<h1 class="h2-title" style="color: white;">*@
    <h1 class="" style="color: black; position: absolute; bottom: 0; left: 40%">
        Empowered by FRIWO
    </h1>
</div>
@*</body>*@